@charset "UTF-8";
:root {
  --container: 1260px;
  --fz: 16px;
  --ff: "Poppins";
  --text: #192a32;
  --lightText: #7c7c7c;
  --border: rgba(119, 119, 119, 0.5);
  --btns: #1a3769;
  --accent: #ec622b;
  --accent2: #0fa810;
  --accent3: #ffc512;
  --bg: #80bef8;
  --lightBg: #dfe8f6;
  --lighterBg: #E2EAF7;
  --dark: #141e55;
  --light: #c3d5cf;
}

/*RESET*/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  /**/
  display: inline-block;
  max-width: 100%;
  /**/
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

/**/
body {
  overflow: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/**/
*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */
*::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */
/* This one works! */
*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

html {
  font-family: var(--ff);
  color: var(--text);
  font-size: var(--fz);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: var(--dark);
  background-repeat: no-repeat;
  background-position: 0 0, 50% 50%, -10% 100%;
  background-size: 99% auto;
  overflow: hidden;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

a {
  display: inline-block;
  vertical-align: middle;
}

img {
  display: inline-block;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 10px;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

h1,
.jumbotron__title {
  font-size: 30px;
}
@media (min-width: 320px) {
  h1,
  .jumbotron__title {
    font-size: 20px;
    font-size: calc(0.0063291139 * 100vw + 27.9746835443px);
  }
}
@media (min-width: 1900px) {
  h1,
  .jumbotron__title {
    font-size: 40px;
  }
}

h2,
.section__title {
  margin-bottom: 0.6em;
  font-size: 35px;
}
@media (min-width: 320px) {
  h2,
  .section__title {
    font-size: 20px;
    font-size: calc(0.0082278481 * 100vw + 32.3670886076px);
  }
}
@media (min-width: 1900px) {
  h2,
  .section__title {
    font-size: 48px;
  }
}
h2--bordered,
.section__title--bordered {
  position: relative;
  display: inline-block;
}
h2--bordered::after,
.section__title--bordered::after {
  content: "";
  display: block;
  margin-top: 8px;
  width: 100%;
  height: 2px;
  background-color: var(--border);
}
h2--less,
.section__title--less {
  font-size: 35px;
}
@media (min-width: 320px) {
  h2--less,
  .section__title--less {
    font-size: 20px;
    font-size: calc(0.003164557 * 100vw + 33.9873417722px);
  }
}
@media (min-width: 1900px) {
  h2--less,
  .section__title--less {
    font-size: 40px;
  }
}
h2--paddingRight,
.section__title--paddingRight {
  padding-right: 150px;
}
@media (max-width: 1000px) {
  h2--paddingRight,
  .section__title--paddingRight {
    padding-right: 0;
  }
}

h3,
.section__subtitle {
  font-size: 25px;
}
@media (min-width: 320px) {
  h3,
  .section__subtitle {
    font-size: 20px;
    font-size: calc(0.0044303797 * 100vw + 23.582278481px);
  }
}
@media (min-width: 1900px) {
  h3,
  .section__subtitle {
    font-size: 32px;
  }
}

p {
  margin: 0;
}
p + p {
  margin-top: 1.5em;
}
p a {
  color: var(--accent2);
}

.section,
.footer {
  padding: 1.87em 1.56em;
  border-radius: 6px;
  background-color: #fff;
  overflow: hidden;
}
.section + .section,
.footer + .section {
  margin-top: 1.56em;
}

.section__block + .section__block {
  margin-top: 2.5em;
}
.section__block ul,
.section__block ol {
  margin: 1.5em 0;
}
.section__block ul li,
.section__block ol li {
  position: relative;
  padding-left: 1.5em;
}
.section__block ul li + li,
.section__block ol li + li {
  margin-top: 1.5em;
}
.section__block ul li:before,
.section__block ol li:before {
  position: absolute;
  left: 0.25em;
}
.section__block ol {
  counter-reset: nCounter 0;
}
.section__block ol li:before {
  content: counter(nCounter);
  counter-increment: nCounter;
  color: var(--accent2);
}
.section__block ul li:before {
  content: "";
  top: 0.65em;
  width: 6px;
  height: 2px;
  background-color: var(--text);
}

.section__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 1em;
  margin-top: 1.5em;
}

/*helpers*/
._altColor {
  color: #fff;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100% - 295px - 1.25em) 1.25em 295px;
  grid-template-columns: calc(100% - 295px - 1.25em) 295px;
  gap: 0 1.25em;
  margin-top: 1.25em;
}
@media (max-width: 850px) {
  .grid {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.text-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% - 210px);
          flex: 0 1 calc(100% - 210px);
}
@media (max-width: 850px) {
  .text-col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.actions-col {
  margin-left: auto;
}
@media (max-width: 850px) {
  .actions-col {
    margin: 1.5em 0 0 0;
  }
}

.header {
  position: relative;
  padding: 12px 0;
  background-color: var(--text);
  color: #fff;
}
@media (max-width: 121.25em) {
  .header {
    font-size: 14px;
  }
}

.header__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 auto;
          flex: 3 1 auto;
  background-color: var(--text);
}
@media (max-width: 1100px) {
  .menu.open .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 600px) {
  .menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    max-height: 100vh;
    overflow: auto;
  }
  .menu.open {
    display: block;
    width: 100%;
  }
}

.menu__list,
.submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 1.375em;
}
@media (max-width: 600px) {
  .menu__list,
  .submenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 1em 0;
  }
}

.menu__list {
  background-color: inherit;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 auto;
          flex: 3 1 auto;
}
@media (max-width: 1100px) {
  .menu__list {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    padding: 0 1.25em 1.875em 1.25em;
  }
}
@media (max-width: 600px) {
  .menu__list {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.submenu {
  gap: 0 1em;
}
@media (max-width: 1100px) {
  .submenu {
    margin-left: auto;
  }
}
@media (max-width: 600px) {
  .submenu {
    padding: 0 1.25em 1.875em 1.25em;
    gap: 1em 0;
  }
}

.logo {
  width: 7.5em;
  margin-right: 1.75em;
}

.menu__link, .menu-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  padding: 0.8em 1.5em;
  border-radius: 1em;
  font-weight: 600;
  background-color: var(--btns);
}
.menu__link .icon, .menu-trigger .icon {
  margin-right: 0.625em;
}

.submenu__btn {
  text-transform: uppercase;
  padding: 0.8em 2em;
  border-radius: 1em;
  font-weight: 600;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.submenu__btn.accent {
  background-color: var(--accent);
}
.submenu__btn.accent:hover {
  background-color: var(--accent2);
}
.submenu__btn.accent2 {
  background-color: var(--accent2);
}
.submenu__btn.accent2:hover {
  background-color: var(--accent);
}

/**/
.menu-trigger {
  display: none;
  margin-left: 1.5em;
}
@media (max-width: 1100px) {
  .menu-trigger {
    display: block;
  }
}

/*jumbotron*/
.jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 384px;
  padding: 45px 1.25em;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron__content {
  max-width: 500px;
}

.jumbotron__topline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.jumbotron__topline .info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-size: 1.5em;
  font-weight: 600;
}
.jumbotron__topline .icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 0.5em;
}
.jumbotron__topline img {
  display: block;
}
.jumbotron__topline .shadow {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin-bottom: 1.5em;
  font-size: 14px;
  color: #192a32;
  text-transform: uppercase;
}

.jumbotron__title {
  text-transform: uppercase;
}

.jumbotron__actions {
  display: inline-block;
  margin-top: 1em;
}
.jumbotron__actions .notice {
  width: 100%;
  text-align: center;
}

.jumbotron__btn {
  min-width: 215px;
  border: 1px solid;
  -webkit-box-shadow: 0px 4px 18px rgba(14, 24, 17, 0.25);
          box-shadow: 0px 4px 18px rgba(14, 24, 17, 0.25);
}

/*carousel*/
.carousel {
  overflow: auto;
  padding-bottom: 0.5em;
  scrollbar-color: #888 #555;
  scrollbar-width: thin;
}
.carousel::-webkit-scrollbar {
  height: 5px;
}
.carousel::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.carousel::-webkit-scrollbar-thumb {
  background: #888;
}
.carousel::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.carousel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 90px;
          flex: 1 0 90px;
  padding: 0.95em;
  border-radius: 6px;
  background-color: #f6f6f6;
  -webkit-box-shadow: 10px 5px 13px 0px rgba(34, 60, 80, 0);
          box-shadow: 10px 5px 13px 0px rgba(34, 60, 80, 0);
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}
.carousel__item:after {
  content: "";
  position: absolute;
  top: 0;
  right: 1px;
  width: 1px;
  height: 100%;
  background-color: rgba(16, 76, 84, 0.2);
}
.carousel__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 8px;
  background-color: #2e9344;
  -webkit-transition: height 0.3s linear;
  transition: height 0.3s linear;
}
.carousel__item:hover {
  background-color: #fff;
  -webkit-box-shadow: 10px 5px 13px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 10px 5px 13px 0px rgba(34, 60, 80, 0.2);
  z-index: 2;
}
.carousel__item:hover:before {
  height: 0.5em;
}
.carousel__item:hover:after {
  display: none;
}

.carousel__icon {
  width: 32px;
  margin: 0 auto 0.5em auto;
}

.carousel__caption {
  font-size: 0.625em;
  text-transform: uppercase;
  text-align: center;
}

/*facts*/
.facts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 2em;
  padding: 0.625em 1.25em;
  border-bottom: 1px solid var(--border);
}

.facts__caption,
.support__caption,
.caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33% - 1em);
          flex: 0 1 calc(33% - 1em);
  gap: 0 0.75em;
}
.facts__caption .icon,
.support__caption .icon,
.caption .icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
}
.facts__caption .label,
.support__caption .label,
.caption .label {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% - 1.75em);
          flex: 0 1 calc(100% - 1.75em);
}
@media (max-width: 850px) {
  .facts__caption,
  .support__caption,
  .caption {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 1.5em;
  }
}

.facts__info,
.support__info,
.info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(67% - 1em);
          flex: 0 1 calc(67% - 1em);
}
@media (max-width: 850px) {
  .facts__info,
  .support__info,
  .info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

/*support*/
.support {
  background-position: bottom center;
  background-size: cover;
}

.support__item {
  padding: 2em 1.25em 0.625em 0.2em;
  border-bottom: 1px solid var(--text);
}

/*faq*/
.faq__item + .faq__item {
  margin-top: 1em;
}
.faq__item.open .faq__body {
  overflow: hidden;
  max-height: 3000px;
  visibility: visible;
}
.faq__item.open .faq__icon {
  -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
          transform: scaleY(-1);
}

.faq__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 1.2em;
  border: 1px solid var(--border);
  text-transform: uppercase;
  font-weight: 600;
  background-color: #fff;
  cursor: pointer;
}

.faq__icon {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.faq__body {
  background-color: var(--lightBg);
  border-radius: 0 0 6px 6px;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
}

.faq__text {
  padding: 1em 0.75em;
}

.dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  padding: 0.8em 1.5em;
  border-radius: 1em;
  font-weight: 600;
  background-color: var(--btns);
}
.dropdown-toggle .icon {
  margin-right: 0;
}

.dropdown-menu {
  display: none;
}

.lang__label {
  margin: 0 5px 0 10px;
}

.notice {
  margin-top: 10px;
  font-size: 6px;
}

/*raiting*/
.raiting__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 0.675em 2fr 0.675em auto;
  grid-template-columns: 2fr 2fr auto;
      grid-template-areas: "label stars value";
  gap: 0.5em 0.675em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.87em 1.5em;
  border-radius: 0.5em;
  background-color: var(--bg);
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.raiting__item:last-of-type {
  margin-bottom: 0;
}
@media (max-width: 1150px) {
  .raiting__item {
    -ms-grid-columns: 90% 10%;
    grid-template-columns: 90% 10%;
        grid-template-areas: "label label" "stars value";
  }
}
@media (max-width: 850px) {
  .raiting__item {
    -ms-grid-columns: 2fr 2fr auto;
    grid-template-columns: 2fr 2fr auto;
        grid-template-areas: "label stars value";
  }
}
@media (max-width: 650px) {
  .raiting__item {
    -ms-grid-columns: 80% 20%;
    grid-template-columns: 80% 20%;
        grid-template-areas: "label value" "stars stars";
  }
}

.raiting__libel {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  padding-right: 0.625em;
  font-weight: 600;
  grid-area: label;
}

.stars,
.stars__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 0.5em;
}

.stars {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  grid-area: stars;
}

.stars__item {
  color: var(--light);
}
.stars__item svg,
.stars__item img {
  display: block;
  width: 2em;
}
.stars__item.fill {
  color: var(--accent3);
}
@media (max-width: 1150px) {
  .stars__item {
    font-size: 14px;
  }
}
@media (max-width: 650px) {
  .stars__item {
    font-size: 10px;
  }
}

.raiting__value {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  font-size: 14px;
  grid-area: value;
  text-align: right;
  font-weight: 400;
}

@media (max-width: 1150px){
  .raiting__libel {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .stars {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .raiting__value {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}

@media (max-width: 850px){
  .raiting__libel {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .stars {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .raiting__value {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}

@media (max-width: 650px){
  .raiting__libel {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .stars {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .raiting__value {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}

.blaze-slider {
  --slides-to-show:1;
  --slide-gap:20px;
  direction: ltr;
}

.blaze-container {
  position: relative;
}

.blaze-track-container {
  overflow: hidden;
}

.blaze-track {
  will-change: transform;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--slide-gap);
  --slide-width:calc(
      (100% - (var(--slides-to-show) - 1) * var(--slide-gap)) /
      var(--slides-to-show)
  );
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blaze-track > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: var(--slide-width);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.slider {
  position: relative;
}
.slider__track-container {
  padding-bottom: 10px;
}
.slider.blaze-slider {
  --slides-to-show: 2;
}
@media (max-width: 1000px) {
  .slider.blaze-slider {
    --slides-to-show: 1;
  }
}

.slider__nav {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: -63px;
  right: 0;
}
.slider__nav button {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 9px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  border: 1px solid var(--lighterBg);
  border-radius: 50%;
  background-color: var(--lighterBg);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.slider__nav button:first-of-type {
  margin-left: 0;
}
.slider__nav button:last-of-type {
  margin-right: 0;
}
.slider__nav button:hover {
  background-color: var(--bg);
}
.slider__nav button:active, .slider__nav button:focus {
  outline: 1px solid transparent;
}
.slider__nav svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 1000px) {
  .slider__nav {
    position: static;
    top: auto;
    right: auto;
    text-align: center;
  }
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 32px 20px 32px 32px;
  border-radius: 6px;
  background-color: var(--lighterBg);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slide__wrapImg {
  position: relative;
  overflow: hidden;
  width: 109px;
  min-width: 109px;
  max-width: 109px;
  height: 113px;
  margin-right: 31px;
  border-radius: 8px;
}

.slide__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.slide__head {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide_rating {
  font-weight: 400;
}
.slide_rating svg {
  margin-right: 6px;
}

.slide__content p {
  margin: 8px 0;
}

/*widgets*/
.widget {
  margin-bottom: 1.25em;
}

@media (max-width: 850px) {
  .widgets {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5em 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    margin-top: 1.5em;
  }
}
@media (max-width: 650px) {
  .widgets {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
}

.widgets__header {
  padding: 1.25em 1.5em;
  text-align: center;
  background-color: var(--text);
}

.widgets__body {
  padding: 1.25em 0;
  border-radius: 0 0 6px 6px;
  background-color: #fff;
}

.events__item {
  color: var(--lightText);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.events__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 0.85em;
}
.events__item .icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  margin-right: 0.75em;
}
.events__item:hover {
  color: #fff;
  background-color: var(--text);
}

/*tiles*/
.tiles__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.675em;
  padding: 0 1.55em;
}

.tiles__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 0.35em);
          flex: 0 0 calc(50% - 0.35em);
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}
.tiles__item:hover .tiles__content {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.tiles__cover {
  border-radius: 6px;
  overflow: hidden;
  width: 120px;
  height: 130px;
}
@media (max-width: 850px) {
  .tiles__cover {
    width: 100%;
  }
}
.tiles__cover img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
}

.tiles__content {
  position: absolute;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  left: 0;
  top: 0;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 6px;
  text-align: center;
  color: #fff;
  background-color: rgba(26, 55, 105, 0.8);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.tiles__content span,
.tiles__content a {
  display: block;
}
.tiles__content span {
  text-transform: uppercase;
  font-weight: 600;
}

footer {
  margin-top: 1.56em;
}

.footer__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% - 100px);
          flex: 0 1 calc(100% - 100px);
  margin-bottom: 1.5em;
}

.footer__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 85px;
          flex: 0 0 85px;
  margin-left: auto;
}

.footer__bottom {
  margin-top: 1.5em;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 650px) {
  .footer__logo {
    margin-bottom: 1em;
  }
}

.btn {
  padding: 0.75em 2em;
  border-radius: 1em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-shadow: 0px 4px 18px rgba(14, 24, 17, 0.25);
          box-shadow: 0px 4px 18px rgba(14, 24, 17, 0.25);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn--icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75em;
  gap: 0 0.5em;
}
.btn--small {
  font-size: 12px;
  padding: 0.75em;
  border-radius: 2em;
  font-weight: 600;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn.dark {
  background-color: var(--btns);
}
.btn.shine {
  background-color: var(--accent);
}
.btn.shine:hover {
  background-color: var(--accent2);
}
.btn.line {
  padding: 0.75em 1.5em;
  color: var(--text);
  border: 1px solid;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}
.btn.line:hover {
  -webkit-box-shadow: 0px 4px 10px rgba(14, 24, 17, 0.25);
          box-shadow: 0px 4px 10px rgba(14, 24, 17, 0.25);
}
.btn.play {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4em;
  border-radius: 2em;
  color: #fff;
  text-transform: uppercase;
  background-color: var(--accent);
}
.playBtn .label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */