:root {
  --container: 1260px;
  --fz: 16px;
  --ff: "Poppins";
  --text: #192a32;
  --lightText: #7c7c7c;
  --border: rgba(119, 119, 119, 0.5);
  --btns: #1a3769;
  --accent: #ec622b;
  --accent2: #0fa810;
  --accent3: #ffc512;
  --bg: #80bef8;
  --lightBg: #dfe8f6;
  --lighterBg: #E2EAF7;
  --dark: #141e55;
  --light: #c3d5cf;
}
